# Создаем новые переменные

In [1]:
import pandas as pd

bikes = pd.read_csv('BikeData.csv')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [2]:
bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']

In [3]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97

In [4]:
del bikes['Partner 1']

In [5]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,38,97

In [6]:
bikes.drop('Partner 2')

KeyError: "['Partner 2'] not found in axis"

In [7]:
bikes.drop('Partner 2', axis=1)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

In [8]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,38,97

In [8]:
bikes.drop('Partner 2', axis=1, inplace=True)
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97

In [10]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Rental Count     8760 non-null   int64
dtypes: float64(4), int64(3), object(4)
memory usage: 752.9+ KB

In [10]:
type(pd.to_datetime(bikes['Date'])[0]) #метка времени

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
pd.to_datetime(bikes['Date'])

0      2017-01-12
1      2017-01-12
2      2017-01-12
3      2017-01-12
4      2017-01-12
          ...
8755   2018-11-30
8756   2018-11-30
8757   2018-11-30
8758   2018-11-30
8759   2018-11-30
Name: Date, Length: 8760, dtype: datetime64[ns]

In [12]:
pd.to_datetime(bikes['Date']).dt.year

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
8755    2018
8756    2018
8757    2018
8758    2018
8759    2018
Name: Date, Length: 8760, dtype: int64

In [17]:
pd.to_datetime(bikes['Date']).dt.day

0       12
1       12
2       12
3       12
4       12
        ..
8755    30
8756    30
8757    30
8758    30
8759    30
Name: Date, Length: 8760, dtype: int64

In [18]:
bikes[''] pd.to_datetime(bikes['Date']).dt.month

0        1
1        1
2        1
3        1
4        1
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int64

In [22]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.day

0        1
1        1
2        1
3        1
4        1
        ..
8755    30
8756    30
8757    30
8758    30
8759    30
Name: Date, Length: 8760, dtype: int64

In [17]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.month

0       12
1       12
2       12
3       12
4       12
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int64

In [18]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.day

0        1
1        1
2        1
3        1
4        1
        ..
8755    30
8756    30
8757    30
8758    30
8759    30
Name: Date, Length: 8760, dtype: int64

In [19]:
bikes['Date'] = pd.to_datetime(bikes['Date'], dayfirst=True)

In [20]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   datetime64[ns]
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Rental Count     8760 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 752.9+ KB

In [23]:
bikes[bikes['Date'].dt.month == 3].shape

(744, 11)

In [24]:
bikes[bikes['Date'].dt.year == 2017].shape

(744, 11)

In [25]:
bikes[bikes['Date'].dt.year == 2018].shape

(8016, 11)

In [26]:
bikes['Date'].dt.day_name()

0       Friday
1       Friday
2       Friday
3       Friday
4       Friday
         ...
8755    Friday
8756    Friday
8757    Friday
8758    Friday
8759    Friday
Name: Date, Length: 8760, dtype: object

In [29]:
bikes[bikes['Date'].dt.day_name() == 'Sunday']

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
48,2017-12-03,0,4.0,58,1.4,0.0,0.0,Winter,No Holiday,Yes,277
49,2017-12-03,1,3.9,69,1.7,0.0,0.0,Winter,No Holiday,Yes,265
50,2017-12-03,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,262
51,2017-12-03,3,3.4,71,1.6,0.5,0.0,Winter,No Holiday,Yes,78
52,2017-12-03,4,3.5,73,1.0,0.0,0.0,Winter,No Holiday,Yes,95
...,...,...,...,...,...,...,...,...,...,...,...
8635,2018-11-25,19,6.3,73,1.1,0.0,0.4,Autumn,No Holiday,Yes,588
8636,2018-11-25,20,5.5,77,0.7,0.0,0.4,Autumn,No Holiday,Yes,357
8637,2018-11-25,21,4.7,81,1.0,0.0,0.4,Autumn,No Holiday,Yes,419
8638,2018-11-25,22,4.2,82,0.9,0.0,0.4,Autumn,No Holiday,Yes,688
8639,2018-11-25,23,3.8,83,1.1,0.0,0.4,Autumn,No Holiday,Yes,218

In [27]:
bikes[bikes['Date'].dt.day_name() == 'Sunday'].shape

(1248, 11)

In [30]:
bikes['Functioning Day'] = bikes['Functioning Day'] == 'Yes'

In [31]:
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,True,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,True,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,True,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,True,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,True,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,True,843

### Вспоминаем про функции

In [33]:
def currency_converter(rub):
    return round(rub / 74.73,2)

print(currency_converter(1000))

amounts = [1000, 2000, 5000, 124212]
print(list(map(currency_converter, amounts)))

13.38
[13.38, 26.76, 66.91, 1662.14]

In [34]:
amounts = [1000, 2000, 4214, 12321]
print(list(map(currency_converter, amounts)))
print(list(map(lambda x: round(x / 74.73,2), amounts))) #анонимная функция
print(list(map(lambda x: 0 if x < 3000 else 1, amounts)))

[13.38, 26.76, 56.39, 164.87]
[13.38, 26.76, 56.39, 164.87]
[0, 0, 1, 1]

In [35]:
bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0).sum() #шиворот на выворот

432

In [36]:
bikes[bikes['Holiday'] == 'Holiday'].shape

(432, 11)

In [38]:
bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)

0       0
1       0
2       0
3       0
4       0
       ..
8755    0
8756    0
8757    0
8758    0
8759    0
Name: Holiday, Length: 8760, dtype: int64

In [37]:
bikes['Holiday'] = bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)

In [39]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97

In [40]:
bikes['Normal Humidity'] = bikes['Humidity'].apply(lambda x: 1 if x in range(40,61) else 0)

In [41]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Normal Humidity
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,0
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,1
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,0

In [ ]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freezing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >= 26:    #есть пропущенные значения, поэтому пишем elif
        return 'Hot'
    else:
        return temp

In [ ]:
bikes['Temperature Category'] = bikes['Temperature'].apply(get_temp_cat)

In [ ]:
bikes[['Temperature Category', 'Temperature']].tail()

In [ ]:
bikes['Temperature Category'] = pd.Categorical(bikes['Temperature Category'])

In [ ]:
bikes.info()

In [ ]:
bikes['Temperature Category'].cat.codes

In [ ]:
bikes['Temperature Category'].cat.categories

In [ ]:
import numpy as np

bikes['Good Weather'] = np.where((bikes['Temperature Category'] == 'Nice') &
         (bikes['Normal Humidity'] == 1) &
         (bikes['Wind speed'] <= 5.4) &
         (bikes['Snowfall'] == 0) &
         (bikes['Rainfall'] == 0), 1, 0)

In [ ]:
bikes.info()

In [ ]:
bikes = bikes.drop('Partner 1', axis=1)

In [ ]:
del bikes['Partner 2']

In [ ]:
bikes.info()

In [ ]:
bikes.to_csv('Data/BikesDataVars.csv', index=False)
bikes.to_excel('Data/BikesDataVars.xlsx', index=False)
#csv потеряет, что мы перевели колонку date в datetime, temperature category в category
#excel потеряет, что мы перевели temperature category в category

In [ ]:
df_csv = pd.read_csv('Data/BikesDataVars.csv')
df_csv.info()

In [ ]:
df_xlsx = pd.read_excel('Data/BikesDataVars.xlsx', index_col=False)
df_xlsx.info()

In [ ]:
bikes.to_pickle('Data/BikesDataVars.pkl') #соления, консервы

In [ ]:
df_pkl = pd.read_pickle('Data/BikesDataVars.pkl')

In [ ]:
df_pkl.info()